.item {
    width: 100%;
    border-top: 1px solid $grey-10;
    transition: 0.3s ease-in-out;
    padding: 10px;
    
    &:hover {
        background-color: lighten($grey-10, 8);
    }

    &:last-child {
        border-bottom: 1px solid $grey-10;
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        color: $primary-color;
    }

    &__name {
        font-size: 16px;
        color: $text-color;
        transition: .3s ease-in-out;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: black;
        }
    }
    
    &__description {
        flex: 1;
    }
}