$text-color: #333333;
$primary-color: #ffdd57;

$grey-10: darken(white, 10);
$grey-20: darken(white, 20);
$grey-30: darken(white, 30);
$grey-40: darken(white, 40);
$grey-50: darken(white, 50);
$grey-60: darken(white, 60);
$grey-70: darken(white, 70);
$grey-80: darken(white, 80);
$grey-90: darken(white, 90);

$tablet: 769px;
$desktop: 960px;
$widescreen: 1152px;
$fullhd: 1344px;