<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="829747160756-igtuptssfph9kuam66ablr1t8on8l25e.apps.googleusercontent.com">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <title>media-manager</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but media-manager doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
