<template>
  <div class="browser">
    <NavBar />

    <b-loading
      :is-full-page="true"
      :active.sync="isLoading"
      :can-cancel="false"/>

    <Folders
      :folders="folders"
      :contents="contents"/>

    <Actions />
    <Upload />
    <FilePreview />
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar.vue';
import Folders from '@/components/Folders.vue';
import Actions from '@/components/Actions.vue';
import Upload from '@/components/Upload.vue';
import FilePreview from '@/components/FilePreview.vue';
import { mapActions, mapGetters } from 'vuex';
import store from '../store';

export default {
  name: 'Browser',
  components: {
    NavBar,
    Folders,
    Actions,
    Upload,
    FilePreview,
  },
  mounted() {
    store.dispatch('loadFolders');
  },
  computed: {
    ...mapGetters(['folders', 'contents', 'isLoading']),
  },
  methods: {
    ...mapActions(['loadFolders']),
  },
};
</script>
