<template>
  <section class="login hero is-danger is-fullheight ">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="login-box">
          <h1 class="title">
            Sign in!
          </h1>
          <h2 class="subtitle">
            You must have an authorized account to access this content!
          </h2>
          <div
            id="google-signin-button"
            class="signin-button"/>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapActions } from 'vuex';
import router from '../router';

export default {
  name: 'Login',
  data() {
    return {};
  },
  mounted() {
    gapi.signin2.render('google-signin-button', {
      onsuccess: this.onSignIn,
    });
  },
  methods: {
    ...mapActions(['setUser']),

    onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      const profile = googleUser.getBasicProfile();

      // The ID token you need to pass to your backend:
      const token = googleUser.getAuthResponse().id_token;

      this.setUser({
        fullname: profile.getName(),
        name: profile.getGivenName(),
        surname: profile.getFamilyName(),
        avatar: profile.getImageUrl(),
        email: profile.getEmail(),
        token,
      });

      router.push({
        path: this.$route.query.redirect || '/',
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.login {
  &-box {

  }
}
.signin-button {
  display: flex;
  justify-content: center;
}
</style>
