<template>
  <div class="actions">
    <transition
      name="fade"
      tag="div">
      <div
        class="actions__content"
        v-show="open">
        <div class="actions__action">
          <div
            class="button is-light is-rounded"
            @click="createFolder">Create folder</div>
        </div>
        <div
          v-show="!isRoot"
          class="actions__action">
          <div
            class="button is-light is-rounded"
            @click="uploadFile">Upload file</div>
        </div>
      </div>
    </transition>
    <div
      class="actions__toggle button"
      :class="open ? 'is-black active' : 'is-warning'"
      @click="open = !open">
      <span class="icon is-medium">
        <i class="fas fa-2x fa-plus"/>
      </span>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import store from '../store';

export default {
  name: 'Actions',
  data() {
    return {
      open: false,
    };
  },
  computed: {
    ...mapGetters(['isRoot']),
  },
  methods: {
    ...mapMutations(['TOGGLE_EDIT_NEW_FOLDER', 'TOGGLE_UPLOAD_NEW_FILE']),
    createFolder() {
      store.commit('TOGGLE_EDIT_NEW_FOLDER');
    },
    uploadFile() {
      store.commit('TOGGLE_UPLOAD_NEW_FILE');
    },
  },
};
</script>

<style lang="scss" scoped>
.actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__toggle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;

        &.active {
          transform: rotate(45deg);
        }
    }

    &__content {
        margin-bottom: 20px;

        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__action {
        margin-bottom: 10px;

        .button {
          box-shadow: 0 6px 15px -5px rgba(0, 0, 0, 0.5);
        }
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

