<template>
  <div class="breadcrumb-container">
    <nav class="breadcrumb has-arrow-separator">
      <ul>
        <li>
          <a
            href="#"
            @click.prevent="navigateTo(null)">
            <span class="icon is-small">
              <i
                class="fas fa-home"
                aria-hidden="true"/>
            </span>
          </a>
        </li>
        <li
          :class="{'is-active' : index === folders.length - 1}"
          v-for="(folder, index) in folders"
          :key="index"
        >
          <a
            :href="doLink(index)"
            @click.prevent="navigateTo(doLink(index) + '/')">{{ folder }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Breadcrumb',
  computed: {
    ...mapGetters(['currentFolder', 'isRoot']),
    folders() {
      if (this.isRoot) return [];
      const foldArr = this.currentFolder.split('/');
      foldArr.pop();
      return foldArr;
    },
  },
  methods: {
    ...mapActions(['navigateTo']),
    doLink(index) {
      return this.folders.slice(0, index + 1).join('/');
    },
  },
};
</script>

<style lang="scss" scoped>
.breadcrumb-container {
    padding: 10px 0;

    .breadcrumb {
        a {
            color: #333333;
        }
        .icon {
            color: #ffdd57;
        }
    }
}
</style>
