<template>
  <div
    class="item"
    @mouseover="hover = true"
    @mouseleave="hover = false">
    <div class="item__content">
      <b-checkbox v-model="selected"/>
      <div class="item__icon">
        <span class="icon is-medium">
          <i class="far fa-lg fa-file"/>
        </span>
      </div>
      <div class="item__description">
        <a
          class="item__name"
          @click.stop="getFile(content.Key)">
          {{ fileName }}
        </a>
      </div>
      <div class="item__actions buttons">
        <button
          class="button is-rounded is-info is-outlined is-small"
          @click="getFile(content.Key)"
          v-show="hover">
          <span class="icon">
            <i class="fas fa-eye"/>
          </span>
          <span>Preview</span>
        </button>
        <button
          class="button is-rounded is-danger is-outlined is-small"
          @click="confirmCustomDelete"
          v-show="hover">
          <span class="icon">
            <i class="fas fa-trash-alt"/>
          </span>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Content',
  props: {
    content: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      selected: false,
      hover: false,
    };
  },
  computed: {
    fileName() {
      const name = this.content.Key.split('/');
      return name[name.length - 1];
    },
  },
  methods: {
    ...mapActions(['getFile', 'deleteFile']),
    confirmCustomDelete() {
      this.$dialog.confirm({
        title: 'Deleting file',
        message: 'Are you sure you want to <b>delete</b> the file? This action cannot be undone.',
        confirmText: 'Delete File',
        type: 'is-danger',
        hasIcon: true,
        icon: 'exclamation-circle',
        iconPack: 'fas',
        onConfirm: () => {
          this.deleteFile(this.fileName).then((result) => {
            this.$toast.open('File deleted!');
          }).catch((err) => {
            console.error(err);
          });
        },
      });
    },
  },
};
</script>

<style lang="scss">

</style>
