<template>
  <transition
    name="slide-up"
    mode="out-in">
    <div
      class="panel-modal"
      v-show="isPreviewOpen">
      <div
        class="panel-modal__close"
        @click="PREVIEW_CLOSE">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-times"/>
        </span>
      </div>
      <div v-if="getPreview.key !== ''">
        <!-- <div class="card-image">

                </div> -->
        <div class="columns">
          <div class="column is-4-mobile has-text-left">
            <img
              :src="previewImageUrl"
              alt="Image">
          </div>
          <div class="column is-4-mobile">
            <div class="field">
              <b-radio
                v-model="linkType"
                native-value="BASE">
                Base link for Genesis Blocks
              </b-radio>
            </div>
            <div class="field">
              <b-field grouped>
                <b-field>
                  <b-radio
                    v-model="linkType"
                    native-value="WIDTH">
                    Fixed Width
                  </b-radio>
                </b-field>
                <b-field>
                  <b-input v-model="width"/>
                </b-field>
              </b-field>
            </div>
            <div class="field">
              <b-field grouped>
                <b-field>
                  <b-radio
                    v-model="linkType"
                    native-value="HEIGHT">
                    Fixed Height
                  </b-radio>
                </b-field>
                <b-field>
                  <b-input v-model="height"/>
                </b-field>
              </b-field>
            </div>
            <div class="field">
              <b-field>
                <b-radio
                  v-model="linkType"
                  native-value="CUSTOM">
                  Custom size
                </b-radio>
              </b-field>
              <b-field>
                <p class="control">
                  <span class="button is-static">Width</span>
                </p>
                <b-input v-model="width"/>
              </b-field>
              <b-field>
                <p class="control">
                  <span class="button is-static">Height</span>
                </p>
                <b-input v-model="height"/>
              </b-field>
            </div>
          </div>
          <div class="column is-4-mobile">
            <div class="media">
              <div class="media-content">
                <figure class="image is-48x48">
                  <img
                    :src="getPreview.data.author.picture"
                    alt="Image"
                    class="is-rounded">
                </figure>
                <p class="title is-4">{{ getPreview.data.author.name }}</p>
                <p class="subtitle is-6">{{ getPreview.data.author.email }}</p>
                <p class="subtitle is-6">
                  Uploaded on: <br>
                  {{ getPreview.data.datetime }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="content">

          <b-field
            label="Base URL for Genesis">
            <b-field type="is-warning">
              <b-input
                placeholder="Link..."
                type="search"
                expanded
                readonly
                :value="imageUrl"/>
              <p class="control">
                <button
                  class="button is-warning"
                  @click="copyToClipboard(imageUrl)">
                  <span class="icon">
                    <i class="fas fa-copy"/>
                  </span>
                  <span>Copy</span>
                </button>
              </p>
            </b-field>
          </b-field>
        </div>
        <div class="content">
          <br>
          <b-taglist>
            <b-tag
              type="is-info"
              v-for="(label, i) in getPreview.data.labels"
              :key="i">
              {{ label.Name }}
            </b-tag>
          </b-taglist>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import dynamicImages from '@/mixins/dynamicImages';

export default {
  name: 'FilePreview',
  mixins: [dynamicImages],
  data() {
    return {
      linkType: 'BASE',
      width: 300,
      height: 300,
    };
  },
  mounted() {
    document.querySelector('body').addEventListener('keydown', (e) => {
      if (e.which === 27) {
        this.PREVIEW_CLOSE();
      }
    });
  },
  computed: {
    ...mapGetters(['getPreview', 'isPreviewOpen']),
    imageUrl() {
      switch (this.linkType) {
        case 'WIDTH':
          return this.previewImageSrc(this.getPreview.key, this.width);
        case 'HEIGHT':
          return this.previewImageSrc(this.getPreview.key, this.height, 'h');
        case 'CUSTOM':
          return this.previewImageSrc(this.getPreview.key, this.width, 's', this.height);
        default:
          return this.previewBaseImageSrc(this.getPreview.key);
      }
    },
    previewImageUrl() {
      return this.previewImageSrc(this.getPreview.key, 300);
    },
  },
  methods: {
    ...mapMutations(['PREVIEW_CLOSE']),
    copyToClipboard(string) {
      const el = document.createElement('textarea');
      el.value = string;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      this.$toast.open('Link copied!');
    },
  },
};
</script>

<style lang="scss" scoped>
.panel-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    box-shadow: 0 6px 30px 0px rgba(0, 0, 0, 0.85);
    background-color: white;
    padding: 20px;
    z-index: 10;

    &__close {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;

    }
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: .3s ease-in-out;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translateY(100px);
  opacity: 0;
}
</style>
