<template>
  <div
    class="item"
    @click.self="selected = !selected"
    @mouseover="hover = true"
    @mouseleave="hover = false">
    <div class="item__content">

      <b-checkbox v-model="selected"/>
      <div class="item__icon">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-folder"/>
        </span>
      </div>
      <div class="item__description">
        <a
          class="item__name"
          @click.self.stop="navigateTo(folder.Prefix)">
          {{ folderName }}
        </a>
      </div>
      <div class="item__delete">
        <button
          class="button is-rounded is-danger is-outlined is-small"
          @click.self="confirmCustomDelete"
          v-show="hover">
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Folder',
  props: {
    folder: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      selected: false,
      hover: false,
    };
  },
  computed: {
    folderName() {
      const name = this.folder.Prefix.split('/');
      return name[name.length - 2];
    },
  },
  methods: {
    ...mapActions(['navigateTo', 'deleteFolder']),
    confirmCustomDelete() {
      this.$dialog.confirm({
        title: 'Deleting folder',
        message: 'Are you sure you want to <b>delete</b> the folder and all its content? This action cannot be undone.',
        confirmText: 'Delete Folder',
        type: 'is-danger',
        hasIcon: true,
        icon: 'exclamation-circle',
        iconPack: 'fas',
        onConfirm: () => {
          this.deleteFolder(this.folderName).then((result) => {
            if (result.Errors.length === 0) {
              this.$toast.open('Folder deleted!');
            }
          }).catch((err) => {
            console.error(err);
          });
        },
      });
    },
  },
};
</script>

<style lang="scss">

</style>
