<template>
  <section class="section">
    <div class="container is-fluid">
      <div class="folders">
        <Breadcrumb />

        <SupFolder v-show="!isRoot"/>
        <NewFolder v-if="UI.editingNewFolder"/>

        <Folder
          v-for="item in folders"
          :key="item.Prefix"
          :folder="item"/>

        <Content
          v-for="content in contents"
          :key="content.Key"
          :content="content"/>

      </div>
    </div>
  </section>
</template>

<script>
import Folder from '@/components/Folder.vue';
import NewFolder from '@/components/NewFolder.vue';
import Content from '@/components/Content.vue';
import SupFolder from '@/components/SupFolder.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'Folders',
  props: {
    folders: {
      type: Array,
      default: () => [],
    },
    contents: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    Folder,
    NewFolder,
    Content,
    SupFolder,
    Breadcrumb,
  },
  computed: {
    ...mapGetters(['UI', 'isRoot']),
  },
};
</script>
<style lang="scss" scoped>
.folders {

}
</style>
