<template>
  <nav
    class="navbar is-warning"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
      <p class="navbar-item">
        Media Manager
        <!-- <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"> -->
      </p>

      <a
        role="button"
        class="navbar-burger burger"
        :class="{'is-active': menuOpen}"
        @click="menuOpen = !menuOpen"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"/>
        <span aria-hidden="true"/>
        <span aria-hidden="true"/>
      </a>
    </div>

    <div
      id="navbarBasicExample"
      class="navbar-menu"
      :class="{'is-active': menuOpen}">
      <div class="navbar-start">
        <!--<router-link
          class="navbar-item"
          to="/">Browse</router-link>-->
        <div class="navbar-item search-box">
          <input
            type="text"
            class="input"
            placeholder="Search">
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button
              class="button is-light is-inverted is-small"
              @click="doLogout">Logout</button>
          </div>
        </div>
        <div class="navbar-item">
          <p class="username">{{ getUser.name }}</p>
          <div class="avatar">
            <img
              :src="getUser.avatar"
              alt="user avatar">
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import router from '@/router';

export default {
  name: 'NavBar',
  data() {
    return {
      menuOpen: false,
    };
  },
  computed: {
    ...mapGetters(['getUser']),
  },
  methods: {
    ...mapActions(['logout']),
    doLogout() {
      this.logout();
      router.push({ path: '/login' });
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
    box-shadow: 0 -6px 30px 0px rgba(0, 0, 0, 0.85);
}
.username {
    margin-right: 10px;
}
.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50% 50%;
    overflow: hidden;
}
</style>

