<template>
  <div class="item">
    <div class="item__content">

      <div class="item__icon">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-folder"/>
        </span>
      </div>
      <div class="item__description">
        <div class="field">
          <div class="control">
            <input
              class="input is-rounded"
              :class="{
                'is-danger': !isEmpty && !isValid,
                'is-success': !isEmpty && isValid,
              }"
              ref="newFolderInput"
              type="text"
              placeholder="Enter folder name"
              v-model="newFolder"
              @keypress.enter="saveFolder">
          </div>
        </div>
      </div>
      <div class="item__actions">
        <div class="field is-grouped">
          <p class="control">
            <a
              class="button is-rounded"
              @click="resetCreate">
              Cancel
            </a>
          </p>
          <p class="control">
            <a
              class="button is-success is-rounded"
              :disabled="isEmpty || !isValid"
              @click="saveFolder">
              Save
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import store from '../store';

export default {
  name: 'NewFolder',
  data() {
    return {
      newFolder: '',
    };
  },
  computed: {
    ...mapGetters(['folders', 'currentFolder']),
    isValid() {
      return !this.folders.some(x => x.Prefix === `${this.currentFolder}${this.newFolder}/`);
    },
    isEmpty() {
      return this.newFolder === '';
    },
  },
  mounted() {
    this.$refs.newFolderInput.focus();
  },
  methods: {
    ...mapMutations(['TOGGLE_EDIT_NEW_FOLDER']),
    ...mapActions(['createFolder']),

    resetCreate() {
      this.newFolder = '';
      store.commit('TOGGLE_EDIT_NEW_FOLDER');
    },
    saveFolder() {
      if (!this.isValid) {
        return;
      }

      this.createFolder(this.newFolder).then(() => {
        this.$toast.open('Folder created!');
      }).catch((err) => {
        this.$toast.open('Error creating the new folder!');
        console.error(err);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.field {
    padding-top: 10px;
    padding-bottom: 10px;
}
.item {
    &__content {
        justify-content: space-between;
    }

    &__actions {
        margin-right: 10px;
    }

    &__description {
        flex: 1;
        margin-right: 10px;
    }
}
</style>
