<template>
  <div
    class="item"
    @click="navigateTo(supFolder)">
    <div class="item__content">
      <div class="item__icon">
        <span class="icon is-medium has-text-grey-light">
          <i class="fas fa-lg fa-angle-up"/>
        </span>
      </div>
      <div class="item__description">
        <a class="item__name">
          Up
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'SupFolder',
  computed: {
    ...mapGetters(['supFolder']),
  },
  methods: {
    ...mapActions(['navigateTo']),
  },
};
</script>
