<template>
  <section class="has-text-centered">
    <b-modal
      :active.sync="UI.uploadingNewFile"
      :width="640"
      scroll="keep">
      <div class="card section">
        <b-field>
          <b-upload
            v-model="dropFiles"
            multiple
            drag-drop
            @input="uploadFile">
            <section class="section">
              <div class="content has-text-centered">
                <p>
                  <span class="icon is-medium has-text-grey-light">
                    <i class="fas fa-lg fa-cloud-upload-alt"/>
                  </span>
                </p>
                <p>Drop your files here or click to upload</p>
              </div>
            </section>
          </b-upload>
        </b-field>

        <div class="tags">
          <span
            v-for="(file, index) in dropFiles"
            :key="index"
            class="tag is-primary">
            {{ file.name }}
            <button
              class="delete is-small"
              type="button"
              @click="deleteDropFile(index)"/>
          </span>
        </div>
      </div>
    </b-modal>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '../store.js';

export default {
  name: 'Upload',
  data() {
    return {
      dropFiles: [],
    };
  },
  methods: {
    ...mapActions(['createFile']),
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    },
    uploadFile(val) {
      let success;
      val.forEach(async (element) => {
        try {
          success = await this.createFile(element);
          console.log('success');
        } catch (error) {
          console.error(error);
        }
      });
      store.commit('TOGGLE_UPLOAD_NEW_FILE');
      this.dropFiles = [];
    },
  },
  computed: {
    ...mapGetters(['UI']),
  },
};
</script>

<style lang="scss" scoped>
.tags {
    justify-content: center;
}
</style>
