body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
}

a {
  font-weight: lighter;
  color: $text-color;

  &.router-link-exact-active {
    font-weight: bold;
  }
}